{#{% extends "news/base_news.html" %}#}
{##}
{#{% block title %}#}
{#    {{ title }}#}
{#{% endblock %}#}
{#{% block sidebar %}#}
{#    {% include "inc/_sidebar.html" %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    {% for item_news in object_list %}#}
{#        <div class="card mb-3 mr-1">#}
{#            <div class="card-header">#}
{#                <b>{{ forloop.counter }}.</b>#}
{#                Категория: <a href="{{ item_news.category.get_absolute_url }}">{{ item_news.category.title }}</a>#}
{##}
{#            </div>#}
{#            <div class="card-body">#}
{#                <div class="media">#}
{#                    {% if item_news.photo %}#}
{#                        <img src="{{ item_news.photo.url }}" alt="x" width="250" class="mr-3">#}
{#                    {% else %}#}
{#                        <img src="http://placeimg.com/350/350/any" alt="x" class="mr-3">#}
{#                    {% endif %}#}
{##}
{#                    <div class="media-body">#}
{#                        <h5 class="card-title">{{ item_news.title }}</h5>#}
{#                        <p class="card-text">{{ item_news.content|linebreaks|truncatewords:50 }}</p>#}
{#                        <a href="{{ item_news.get_absolute_url }}" class="btn btn-primary">Читать</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card-footer text-muted">#}
{#                {{ item_news.created_at|date:"H:i:s d-m-Y " }}#}
{#            </div>#}
{#        </div>#}
{##}
{#    {% endfor %}#}
{#    !!!#}
{##}
{#{% endblock %}#}
